body {
    background-color: #fea49f;
    color: white;
}

.container{
    margin : 100px auto;
    background-color: #101357;
    height: 400px;
    width : 800px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px;
    position: relative;
}



.hide {
    display: none;
}

#questions {
  color: aliceblue;
}